<%- include("shared/header.ejs") %> 

<div class="container my-5">
    <div class="col-md-12 m-auto text-right">
        <a class="add p-2 btn btn-success" data-toggle="modal" data-target="#addAccount"><i class="fas fa-plus-circle"></i> Add New Account</a>
       
    </div>
</div>

<section id="searchBars" class="searchBars pt-2 mt-2 ml-5">
    <div class="container">
        <div class="row ml-1">
            <div class="col-md-6">
                <input type="text" id="searchInAllCatagroies" class="form-control mb-5 " placeholder="Search Accounts By Names...">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control " id="searchInCurrentCatagory" placeholder=" Search Accounts By Email...">
            </div>
     
        </div>
    </div>
</section>

<!-- Add Account Modal -->
<div class="modal fade" id="addAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form action="/addAccount" method="POST">
        <div class="modal-dialog">
            <div class="modal-content bg-dark" style="border-color: #c7781c">
                <div class="modal-header"> <h3 style="color:  #c7781c"><i class="fas fa-info-circle text-success"></i> Add Account Info</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <div class="form-group mt-2">
                        <input placeholder="Enter Account Name" name="accountName" type="text" class=" form-control" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Enter Account Email" type="email" name="accountEmail" class="form-control" />
                        <% if (false) { %>
                            <input class="alert alert-danger form-control error" value="Email Already Exists" readonly>
                         
                        <% } %>
                    </div>
                    <div class="form-group">
                        <input placeholder="Enter Account Password" type="password" name="accountPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Confirm Account Password" type="password" name="confirmPassword" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" style="background-color:  #c7781c" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success"><i class="fas fa-plus-circle"></i> Add Account</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Edit Account Info -->
<div class="modal fade" id="editAccountInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form action="/editAccountInfo" method="POST">
        <div class="modal-dialog">
            <div class="modal-content bg-dark" style="border-color: #c7781c">
                <div class="modal-header"><h3 style="color:  #c7781c"><i class="fas fa-marker text-success"></i> Edit Account Info</h3>
                    <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <input hidden id="accountIDtoEdit" name="accountIDtoEdit" value="">
                <div class="modal-body">
                    <div class="form-group mt-2">
                        <input placeholder="Enter Account Name" id="accountNameToEdit" name="accountNameToEdit" type="text" class=" form-control" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Enter Account Email" id="accountEmailToEdit" type="email" name="accountEmailToEdit" class="form-control" />
                        <% if (false) { %>
                            <input class="alert alert-danger form-control error" value="Email Already Exists" readonly>
                         
                        <% } %>
                    </div>

                    <div class="form-group">
                        <button type="button" id="changePasswordButton" name="changePasswordButton" class="form-control text-white" style="background-color: #c7781c">Change Account Password</button>
                    </div>

                    <div id="changePasswordDiv" style="display: none;">
                        <div class="form-group">
                            <input placeholder="Enter Account Old Password" type="password" id="accountOldPassword" name="accountOldPassword" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input placeholder="Enter Account New Password" type="password" id="accountNewPassword" name="accountNewPassword" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input placeholder="Confirm Account New Password" type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" />
                        </div>
                    </div>

                    
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" style="background-color: #c7781c">Cancel</button>
                    <button type="submit" class="btn btn-success"><i class="fas fa-pencil-alt"></i> Edit Account Info</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Edit Account Image -->
<div class="modal fade" id="editAccountImg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form action="/editAccountImg" method="POST" enctype="multipart/form-data">
        <div class="modal-dialog">
            <div class="modal-content bg-dark" style="border-color: #c7781c">
                <div class="modal-header"><h3 style="color:  #c7781c"><i class="fas fa-camera text-success"></i> Edit Account Picture!</h3>
                    <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <input hidden id="accIDtoEditImge" name="accIDtoEditImge">
                <div class="modal-body">
                    <div class="form-group mt-2 ">
                        <input readonly placeholder="Choose Image" id="uploadImgeToEdit" name="uploadImgeToEdit" type="text" class=" form-control imge-upload"/>
                        
                        <input id="accountImgeToEdit" name="accountImgeToEdit" type="file" hidden/>
                    </div>
                    
                    <div class="form-group">
                        <button onclick="getImgeInfoToEdit()" type="button" id="uploadImage" name="uploadImage" class="form-control text-white" style="background-color: #c7781c"><i class="fas fa-cloud-upload-alt"></i> Upload Image</button>
                    </div>

                    <div id="checkImge" style="display: none;">
                        <div class="form-group text-success text-center">
                            <h3><i class="fas fa-thumbs-up"></i> Image Uploaded Successfully!</h3>
                        </div>
                        
                    </div>

                    
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" style="background-color: #c7781c">Cancel</button>
                    <button type="submit" class="btn btn-success"><i class="far fa-save"></i> Save Image</button>
                </div>
            </div>
        </div>
    </form>
</div>
  
<!--Delet Account -->
  <div class="modal fade" id="deleteAccount" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark" style="border-color: #c7781c">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel"><i class="fas fa-exclamation-triangle"></i> Delete Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="color: #c7781c; font-size: larger;">
          Are You Sure You Want To Delete This Account!!
        </div>
        <div class="modal-footer">
            <form action="/deleteAccount" method="POST">
                <input hidden id="confirmDelete" name="accountIDtoDelete" value="">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt del" ></i> Delete Account</a>
            </form>
          
        </div>
      </div>
    </div>
  </div>


<!-- ==========================Accounts=============================== -->

<div class="container">
    <div class="row ml-3 text-center">
        <% for( let accountIndex = 0; accountIndex < userAccountsArray.length; accountIndex++ ) { %>
            <div class="col-md-4 my-3 mb-5">
                <div class="account">
                    <div class="account-img">
                        <% if (userAccountsArray[accountIndex].accountImge) { %>
                           <img class="" src="<%=(userAccountsArray[accountIndex].accountImge).slice(17) %>" alt="Account Image">
                         
                           <%} else { %>
                            <img class="" src="img/avatar.png" alt="Account Image">

                            <% } %>
                        
                         
                    </div>
                    <div class="account-icons ">
                        
                        <a class="ml-3" data-toggle="modal" data-target="#editAccountImg"><i class="fas fa-image img-icon" onclick="getIDtoEditImg('<%=userAccountsArray[accountIndex]._id%>')"></i></a>
                        <a class="ml-3" data-toggle="modal" data-target="#editAccountInfo"><i class="fas fa-edit edit" onclick="getIDtoEditInfo('<%=userAccountsArray[accountIndex]._id%>')"></i></a>
                        <a class="ml-3" data-toggle="modal" data-target="#deleteAccount" onclick="getIDtoDelete('<%=userAccountsArray[accountIndex]._id%>')" ><i class="fas fa-trash-alt del" ></i></a>
                    
                    </div>

                    <hr>
                    <h3 class="float-left account-name" id="accountName<%=userAccountsArray[accountIndex]._id%>"><%= userAccountsArray[accountIndex].accountName %> </h3>
                    <span class="clearfix"></span>
                    <p id="accountEmail<%=userAccountsArray[accountIndex]._id%>" class="text-center" style="color: #000000;"> <%= userAccountsArray[accountIndex].accountEmail %></p>
                    <div >
                        
                        <a data-toggle="modal" data-target="#showPassword" onclick="getIDtoShowPassword('<%=userAccountsArray[accountIndex]._id%>')" ><i class="fas fa-eye eye-icon"></i></a>

                    </div>
                </div>
            </div>
        <% } %>

    </div>
</div>

<%- include("shared/footer.ejs") %> 
